.project-showcase{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
    padding:100px 10%;
}

.tag{
    background:#2563eb;
    color:white;
    padding:8px 15px;
    border-radius:30px;
    font-size:.8rem;
}

.project-showcase h2{
    margin:20px 0;
    font-size:3rem;
}

.project-showcase p{
    color:#94a3b8;
    line-height:1.8;
}

.tech-stack{
    margin-top:25px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.tech-stack span{
    background:#1e293b;
    padding:10px 15px;
    border-radius:10px;
}

button{
    margin-top:30px;
    padding:15px 30px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.mockup{
    height:350px;
    border-radius:20px;
    background:linear-gradient(
        135deg,
        #2563eb,
        #06b6d4
    );
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    font-weight:bold;
}
