.project{
    background:#f8fafc;
    padding:25px;
    border-radius:15px;
    border-left:5px solid #2563eb;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.project h3{
    color:#2563eb;
    margin-bottom:15px;
}

.project h4{
    margin-top:15px;
    margin-bottom:10px;
}

.project ul{
    margin-left:20px;
}
